__pycache__/
*.pyc
.auto
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.png
*.pgf
/herd/_find_birth_scaling.db
/herd/_get_endemic_equilibrium.db
/herd/_find_stable_age_structure.db
/Erin/
