.auto/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex
*.synctex.gz
*.png
*.pgf
*.h5
flycheck_*
__pycache__/
_cache/
.ipynb_checkpoints/
/herd/floquet/monodromy*.so
/test/solution_*conditional.pkl
